{% extends "base_template.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<form action="" method="POST">
    <label for="name">Nombre: </label>
    <input type="text" id="name" name="name"> <br>
    <label for="description">Descripción: </label>
    <input type="text" name="description" id="description"> <br>
    <label for="photo">Imagen: </label>
    <input type="file" name="photo" value="Elegir archivo"> <br>
    <input type="submit" name="subir-photo" value="Subir imagen">
</form>
{% endblock %}